<div class="main-page">
  <div class="cover-image"><img src="assets/cover.jpg" class="image" /></div>
  <div class="text">
    <h1>Build on passion and integrity</h1>
    <p>
      we are a software company that provides a large number of services in the
      field of application development. Our experienced team works every day to
      develop innovative solutions for our customers around the world
    </p>
  </div>
  <div class="services">
    <div class="subservices">
      <div class="services-1">
        <span class="span-icon"><mat-icon>groups</mat-icon></span>
        <div class="description">
          <p>
            Hire a dedicated team of consultants who is software professional
            and who gives you their absolute best capacity
          </p>
        </div>
      </div>
      <div class="services-2">
        <span class="span-icon"><mat-icon>smartphone</mat-icon></span>
        <div class="description">
          <p class>
            Hire a dedicated team of consultants who is software professional
            and who gives you their absolute best capacity
          </p>
        </div>
      </div>
    </div>
    <div class="subservices">
      <div class="services-3">
        <span class="span-icon"><mat-icon>code</mat-icon></span>
        <div class="description">
          <p>
            Customized software solutions regardless of any problems or
            challenges.
          </p>
        </div>
      </div>
      <div class="services-4">
        <span class="span-icon"><mat-icon>security</mat-icon></span>
        <div class="description">
          <p>
            You are only as good as your solution performs, which is why we
            offer qualified testing and security solutions.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="boxes" id="aboutus">
    <div class="box-1">
      <h1>400+</h1>
      <h2>Happy customers</h2>
    </div>
    <div class="box-2">
      <h1>500+</h1>
      <h2>Projects</h2>
    </div>
    <div class="box-3">
      <h1>200+</h1>
      <h2>Colleagues</h2>
    </div>
    <div class="box-4">
      <h1>250</h1>
      <h2>Million sek in turnover</h2>
    </div>
  </div>
  <div class="information">
    <div class="contact">
      <div class="contact-image">
        <img src="assets/calling.jpg" class="call-image" />
      </div>
      <div class="contact-text">
        <h1>Let's Work Together</h1>
        <p>
          We are always looking for employees who are outgoing, business minded,
          humble and the ones who extend a helping hand to a colleague or a
          customer. As a part of our team, in addition to an exciting
          profession, you have the opportunity to test many new technologies and
          ways of working, get to know lots of different people and
          organizations and grow in your role as an expert or leader. But most
          important is that you enjoy yourself and have a lot of fun at work!
        </p>
        <button class="contact-button">Contact us</button>
      </div>
    </div>
    <div class="team-company">
      <div class="team-text">
        <h1>Dedicated and talented team</h1>
        <p>
          We build teams of software engineers and other tech talent. By hiring
          top people and continuously investing in their growth, we trust our
          people to bring their best to every project. We are a team of creative
          thinkers, passionate innovators, fearless creators, ambitious
          individuals – all striving to create new and remarkable things
          together.
        </p>
      </div>
      <div class="contact-image">
        <img src="assets/team.jpg" class="team-image" />
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="section-1">
    <a>Home</a>
    <a>About us</a>
    <a>Careers</a>
  </div>
  <div class="section-2">
    <input type="image" src="/assets/fb.png" class="image-button" />
    <input type="image" src="/assets/insta.png" class="image-button" />
    <input type="image" src="/assets/in.png" class="image-button" />
  </div>
  <div class="section-3">
    <a>info.bosnia@softhouse.se</a>
  </div>
  <div class="section-4">
    <p>&copy; 2021 Developed by Amina | All Rights Reserved</p>
  </div>
</footer>
